<section id="hero">

  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 py-5 py-lg-5 order-1 order-lg-1">
        <h1>We use machine learning model to read the T&C for you</h1>
        <h2>Nobody reads web site Terms & Conditions.<br>But they should.<span class="emphasis"> 91% of all users</span> consent without reading at all. The 9% who do read usually stop after the first paragraph.</h2>
        <h2>ClearTerms helps Internet users better understand the policies they are implicitly agreeing to <span class="emphasis">by highlighting the important ones for them.</span></h2>
        <br>
      </div>
      <div class="col-lg-6 px-5 order-2 order-lg-2 company-img">
        <%= image_tag 'logo/uniqlo.png', class: "hero-img" %>
        <%= image_tag 'logo/logitech.png', class: "hero-img" %>
        <%= image_tag 'logo/samsung.png', class: "hero-img" %>
        <%= image_tag 'logo/hp.png', class: "hero-img last" %>
        <br>
        <%= image_tag 'logo/sephora.png', class: "hero-img" %>
        <%= image_tag 'logo/farfetch.png', class: "hero-img" %>
        <%= image_tag 'logo/lululemon.png', class: "hero-img" %>
        <%= image_tag 'logo/apple.png', class: "hero-img last" %>
        <br>
        <br>
        <div class="d-flex justify-content-center">
          <%= link_to "More Companies", companies_path, class: "btn-get-started" %>
        </div>
      </div>
    </div>
  </div>

</section>