<section id="services" class="about section-bg2">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column">
          <h3>Hundreds of ecommerce sites, with terms ranked by users like you.</h3>
        </div>
      </div>
    </div>
    <br>
    <div class="row centermode-slick">
      <div class="slick-item">
        <%= image_tag "logo/uniqlo.png" %>
      </div>
      <div class="slick-item">
        <%= image_tag "logo/facebook.png" %>
      </div>
      <div class="slick-item">
        <%= image_tag "logo/netflix.png" %>
      </div>
      <div class="slick-item">
        <%= image_tag "logo/away.png" %>
      </div>
      <div class="slick-item">
        <%= image_tag "logo/nike.png" %>
      </div>
      <div class="slick-item">
        <%= image_tag "logo/uo.png" %>
      </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <%= link_to "Help Us Rank Terms & Conditions", help_path, class: "btn-get-started" %>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <%= link_to "Browse Companies", companies_path, class: "btn-get-started" %>
    </div>
  </div>
</section>